@using Microsoft.AspNetCore.Identity
@using TikaumTech.Data

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">Alterar senha</NavLink>
    </li>
</ul>
